.texto {
    position: fixed; 
    left: 180px; 
    top: 380px; 
    width: 100px; 
    height: 100px; 
    font-size: 30px;
}
/* .titulo {
    position: fixed; 
    left: 280px; 
    top: 60px; 
    width: 450px; 
    height: 100px; 
} */
.minha-imagem1 {
    position: fixed; 
    left: 230px; 
    top: 250px; 
    width: 100px; 
    height: 100px; 
}
.minha-imagem2 {
    position: fixed; 
    left: 340px; 
    top: 250px; 
    width: 100px; 
    height: 100px; 
}
.minha-imagem3 {
    position: fixed; 
    left: 450px; 
    top: 250px; 
    width: 100px; 
    height: 100px; 
}
.minha-imagem4 {
    position: fixed; 
    left: 560px; 
    top: 250px; 
    width: 100px; 
    height: 100px; 
}
.minha-imagem5 {
    position: fixed; 
    left: 670px; 
    top: 250px; 
    width: 100px; 
    height: 100px; 
}
.minha-imagem6 {
    position: fixed; 
    left: 780px; 
    top: 250px; 
    width: 100px; 
    height: 100px; 
}
.joia {
    position: fixed; 
    left: 580px; 
    top: 450px; 
    width: 150px; 
    height: 100px; 
}
.btn1{
    position: fixed; 
    left: 570px; 
    top: 580px; 
    padding: 10px 30px;
    width: 80px;
    color:aliceblue;
    background:darkgreen;
    border-radius: 5px;
    border: 1px solid #555;
    user-select: none;
    cursor: pointer;
}
.btn1:hover{
    background: rgb(88, 156, 19);
    transition: background 1s;
}
.btn2{
    position: fixed; 
    left: 720px; 
    top: 580px; 
    padding: 10px 30px;
    width: 50px;
    color:aliceblue;
    background:darkgreen;
    border-radius: 5px;
    border: 1px solid #555;
    text-align: center;
    user-select: none;
    cursor: pointer;
}
.btn2:hover{
    background: rgb(88, 156, 19);
    transition: background 1s;
}
.text1 {
    position: fixed; 
    left: 450px; 
    top: 410px; 
    font-size: 30px;
    color: blue;
}
